.form-warehouse {
    display: grid;
    grid-template-columns: auto min-content;
}

.form-warehouse label[for='address'] {
    display: none;
}

.form-warehouse textarea#address {
    grid-column: 1/3;
}