<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block base_meta -%}
        {%- endblock base_meta %}
        <title>SAAS - {% block title %}Welcome{% endblock %}</title>
        {% block base_links -%}
        {%- endblock base_links %}
        {% block base_head_scripts -%}
        {%- endblock base_head_scripts %}
    </head>
    <body>
        {% block base_body %}
        {% endblock base_body %}
        <!-- scripts -->
        {% block base_body_scripts %}
        {% endblock base_body_scripts %}
    </body>
</html>