{% if sidebars is defined %}
    {% if sidebars %}
        {% extends "saas.app:templates/layout.html" %}
    {% else %}
        {% extends "saas.app:templates/layout_no_sidebars.html" %}
    {% endif %}
{% else %}
    {% extends "saas.app:templates/layout.html" %}
{% endif %}

{% block base_meta %}
<meta http-equiv="Content-Security-Policy" content="
    default-src 'self'; img-src 'self' https://* ;
    child-src 'none';
    style-src 'self' https://fonts.googleapis.com https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css;
    font-src 'self' https://fonts.gstatic.com https://stackpath.bootstrapcdn.com;
    script-src 'self' 'unsafe-inline' {% block csp_script_src -%}{%- endblock csp_script_src %};"
>
{% endblock base_meta %}

{% block links -%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/static/css/default.css">
{%- endblock links %}


{% block header_left %}
<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <a title="Home" class="navbar-item" href="#">
            <img src="/static/img/favicon.ico" alt="SAAS">
        </a>
    </div><!-- .navbar-brand -->
    <div class="navbar-menu">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">SAAS</a>
            {% if client_id is defined %}
            <div class="navbar-dropdown">
                <a title="Accounting" class="nav-link navbar-item" href="/accounting">Accounting</a>
                <a title="Inventory" class="nav-link navbar-item" href="/inventory">Inventory</a>
                <a title="Client" class="nav-link navbar-item" href="/client">Client</a>
                <hr class="navbar-divider">
                <a title="Administion" class="nav-link navbar-item" href="/admin">Administration</a>
            </div><!-- .navbar-dropdown -->
            {% endif %}
        </div><!-- .navbar-item -->
    </div><!-- .navbar-menu -->
</nav><!-- .navbar -->
{% endblock header_left %}

{% block header_center %}
<h2>header center</h2>
{% endblock header_center %}

{% block header_right %}
<nav class="navbar is-transparent" role="navigation" aria-label="navigation">
    <div id="topRightMenu" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
            {% if client_name is defined %}
                <a class="navbar-link client-select-link" title="Select Client" href="/client/list?destination={{ current_path }}">{{ client_name }}</a>
            {% else %}
                <a class="navbar-link client-select-link" title="Please Select Client" href="/client/list?destination={{ current_path }}">None</a>
            {% endif %}
            </div><!-- .navbar-item -->
            <div class="navbar-item has-dropdown is-hoverable">
            {% if email is defined %}
                <a class="navbar-link">
                    <span class="material-icons">lock_open</span>
                </a>
                <div class="navbar-dropdown is-right">
                    <a title="Profile" class="navbar-item" href="#">{{ email }}</a>
                    <hr class="navbar-divider">
                    <a title="Sign Out" class="navbar-item" href="/security/signout">Sign Out</a>
                </div><!-- .navbar-dropdown -->
            {% else %}
                <a class="navbar-link">
                    <span class="material-icons">lock</span>
                </a>
                <div class="navbar-dropdown is-right">
                    <a title="Sign In" class="navbar-item" href="/security/signin">Sign In</a>
                </div><!-- .navbar-dropdown -->
            {% endif %}
            </div><!-- .navbar-item -->
        </div><!-- .navbar-start -->
    </div><!-- #topRightMenu -->
</nav><!-- .navbar -->
{% endblock header_right %}

{% block sidebar_left %}
{% if navigators is defined %}
<div class="navigators">
    <div class="tab tab-vertical" role="tablist" aria-label="Navigators">
        <ul class="nav-links">
        {% for k,n in navigators.items() %}
            <li>
                <a title="{{ n.help }}">
                    {{ n.icon | safe }}
                    <span>{{ n.title }}</span>
                </a>
            </li>
        {% endfor %}
        </ul><!-- .nav-links -->
        <div class="nav-content">
        {% for k,n in navigators.items() %}
            {% include n.template %}
        {% endfor %}
        </div><!-- .nav-content -->
    </div><!-- .tabs -->
</div><!-- .navigators -->
{% endif %}
{% if modules is defined %}
<div class="modules-wrapper">
    <div class="module-links">
        <ul class="list-modules" role="tablist" aria-label="Modules">
        {% for m in modules %}
            <li class="module-item module-{{ m.module_name }}">
                <a id="link-{{ m.module_name }}" 
                    class="link-module" 
                    title="{{ m.help }}" 
                    href="#module-{{ m.module_name }}" 
                    role="tab" 
                    aria-selected="false" 
                    aria-controls="module-content-{{ m.module_name }}"
                    tabindex="-1"
                    data-module="{{ m.module_name }}">
                    {{ m.icon | safe }}
                    <span>{{ m.module_name }}</span>
                </a>
            </li>
        {% endfor %}
        </ul><!-- .list-modules -->
    </div><!-- .module-link -->
    <div class="module-contents">
        {% for m in modules %}
            <div id="module-content-{{ m.module_name }}" 
                class="module-content"
                role="tabpanel" 
                aria-labelledby="#link-{{ m.module_name }}"
                tabindex="0">
                {% include m.template %}
            </div><!-- .module-content -->
        {% endfor %}
    </div><!-- .module-contents -->
</div><!-- .modules-wrapper -->
{% endif %}
{% endblock sidebar_left %}

{% block content %}
<h1>Default</h1>
<tab-container></tab-container>
{% endblock content %}

{% block sidebar_right %}
<h2>sidebar right</h2>
{% endblock sidebar_right %}

{% block base_body_scripts %}
<script type="module" src="/static/js/components/tab.container.js"></script>
<script type="module" src="/static/js/page/default.js"></script>
<script type="module">
'use strict';
(function(){
    const tab = document.querySelector('tab-container');
    tab.addTab('news', 'News', '<h1>This is the news');

    const actions = {
        {% for id,action in actions.items() %}
        '{{ id }}': {{ action | safe }},
        {% endfor %}
    };
    window.actions = actions;

    document.querySelectorAll('[data-action]').forEach(elem => {
        elem.addEventListener('click', function(e) {
            console.log(elem.dataset.action);
            const action = window.actions[elem.dataset.action];
            action();
        });
    });
})();
</script>
{% block scripts %}
{% endblock scripts %}
{% endblock base_body_scripts %}