{%- if sidebars is defined -%}
    {%- if sidebars -%}
        {%- extends "saas.app:templates/layout.html" -%}
    {%- else -%}
        {%- extends "saas.app:templates/layout_no_sidebars.html" -%}
    {%- endif -%}
{%- else %}
    {%- extends "saas.app:templates/layout.html" -%}
{%- endif -%}

{% block base_meta -%}
<meta http-equiv="Content-Security-Policy" content="
    default-src 'self'; 
    child-src 'none';
    style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css;
    font-src 'self' https://fonts.gstatic.com https://stackpath.bootstrapcdn.com;
    img-src 'self' data: https://*;
    script-src 'self' 'unsafe-inline' {% if csp is defined %}{% for js in csp.scripts %}{{ js }} {% endfor %}{%- endif %};">
{%- endblock base_meta %}


{%- block links -%}
<link rel="icon" type="image/ico" href="/static/img/favicon.ico">
<link rel="stylesheet" href="/static/css/default.css">
<link rel="stylesheet" href="/static/css/ui/tabs.css">
{%- endblock links -%}

{% block base_page_styles -%}
{% block styles -%}
{% endblock styles %}
{% endblock base_page_styles %}

{% block header_left %}
<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <a title="Home" class="navbar-item" href="#">
            <img src="/static/img/favicon.ico" alt="SAAS">
        </a>
    </div><!-- .navbar-brand -->
    <div class="navbar-menu">
        <div class="navbar-item">
            <a class="navbar-link">SAAS</a>
        </div><!-- .navbar-item -->
    </div><!-- .navbar-menu -->
</nav><!-- .navbar -->
{% endblock header_left %}

{% block header_center %}
<h2>header center</h2>
{% endblock header_center %}

{% block header_right %}
<nav class="navbar is-transparent" role="navigation" aria-label="navigation">
    <div id="topRightMenu" class="navbar-menu">
        <div class="navbar-end">
            {% if client_name is defined %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link client-select-link" title="Select Client" href="#">{{ client_name }}</a>
                <div class="navbar-dropdown">
                {% for c in clients %}
                    <a title="{{ c.name }}" class="navbar-item" href="/client/select/{{ c.id }}">{{ c.name }}</a>
                {% endfor %}
                    <hr class="navbar-divider">
                    <a title="Join" class="navbar-item" href="/client/join" >Join Client</a>
                </div><!-- .nav-dropdown -->
            </div><!-- .navbar-item -->
            {% endif %}
            <div class="navbar-item has-dropdown is-hoverable">
            {% if email is defined %}
                <a class="navbar-link">
                    <span class="material-icons">lock_open</span>
                </a>
                <div class="navbar-dropdown is-right">
                    <a title="Profile" class="navbar-item" href="#" data-action="user.profile">{{ email }}</a>
                    <hr class="navbar-divider">
                    <a title="Sign Out" class="navbar-item" href="/security/signout">Sign Out</a>
                </div><!-- .navbar-dropdown -->
            {% else %}
                <a class="navbar-link">
                    <span class="material-icons">lock</span>
                </a>
                <div class="navbar-dropdown is-right">
                    <a title="Sign In" id="link-add-security-signin" class="navbar-item" href="/security/signin">Sign In</a>
                </div><!-- .navbar-dropdown -->
            {% endif %}
            </div><!-- .navbar-item -->
        </div><!-- .navbar-start -->
    </div><!-- #topRightMenu -->
</nav><!-- .navbar -->
{% endblock header_right %}

{% block sidebar_left %}
{% if email is defined %}
    {% if modules is defined %}
        <div class="navigators">
            <div class="tab-vertical vertical" role="tabs" aria-label="Navigators">
                <ul class="nav-links" role="tablist">
                    {%- for m, module in modules.items() -%}
                    {%- for navigator in module.navigators -%}
                        {%- if navigator.permission is defined -%}
                            {% set module_permission = navigator.permission %}
                        {%- else -%}
                            {% set module_permission = 'user.authenticated' %}
                        {%- endif -%}
                        {%- if module_permission in permissions %}
                        <li>
                            <a id="nav-{{ navigator.id }}"
                                class="nav"
                                title="{{ navigator.help }}"
                                href="#"
                                role="tab"
                                aria-selected="false"
                                aria-controls="{{ navigator.id }}">
                                {{ navigator.icon | safe }}
                                <span>{{ navigator.title }}</span>
                            </a>
                        </li>
                        {%- endif -%}
                    {%- endfor -%}
                    {%- endfor %}
                </ul><!-- .nav-links -->

                {%- for m, module in modules.items() -%}
                {%- for navigator in module.navigators -%}
                    {%- if navigator.permission is defined -%}
                        {% set module_permission = navigator.permission %}
                    {%- else -%}
                        {% set module_permission = 'user.authenticated' %}
                    {%- endif -%}
                    {%- if module_permission in permissions %}
                    <div id="{{ navigator.id  }}" class="tab-panel" role="tabpanel">
                    {% include navigator.template %}
                    </div><!-- .tab-panel -->
                    {%- endif -%}
                {%- endfor -%}
                {%- endfor %}
            </div><!-- .tabs -->
        </div><!-- .navigators -->
    {% endif %}
{% endif %}
{% endblock sidebar_left %}

{% block content %}
<notification-list></notification-list>
<tab-container></tab-container>
{% endblock content %}

{% block sidebar_right %}
{% if modules is defined %}
<div id="views">

</div><!-- .views -->
{% endif %}
{% endblock sidebar_right %}

{% block base_body_scripts -%}
{% if scripts is defined %}
{%- for k,js in scripts.items() -%}
<script {% if js.type %}type="{{ js.type }}"{% endif %} {% if js.async %}async{% endif %} src="{{ js.script }}" {% if js.integrity %}integrity="{{ js.integrity }}"{% endif %} {% if js.crossorigin -%}crossorigin="{{ js.crossorigin }}"{%- endif -%}></script>
{% endfor %}
{% endif %}

<script type="module" async src="/static/custom-elements/notification-list/notification-list.js"></script>
<script type="module" async src="/static/custom-elements/form-search/form-search.js"></script>
<script type="module" src="/static/custom-elements/tab-container/tab-container.js"></script>
<script type="module" src="/static/js/ui/tabs.js"></script>
<script type="module" src="/static/js/ui/ui.js"></script>
<script type="module">
'use strict';
import { tabs } from '/static/js/ui/tabs.js';
import { showInTab, showInView } from '/static/js/ui/ui.js';
(function(){
    window.clientId = window.clientId ? window.clientId : '{{ client_id }}';

    window.services = window.services ? window.services : {};
    window.actions = window.actions ? window.actions : {};

    tabs(document);

    {% if client_id is defined %}
    // show user dashboard by default
    showInTab('user-dashboard', 'Dashboard', '<user-dashboard></user-dashboard>');
    {% else %}
    showInTab('news', 'News', '<h1>News</h1><p>News goes here</p>');
    {% endif %}

    document.querySelectorAll('[data-action]').forEach(elem => {
        elem.addEventListener('click', function(e) {
            const action = window.actions[elem.dataset.action];
            if (action != null) {
                action();
            } else {
                console.error(`missing action: ${elem.dataset.action}`);
            }
        });
    });
})();
</script>
{% block scripts %}
{% endblock scripts %}
{% endblock base_body_scripts %}