{% extends "saas.app:templates/base.html" %}

{% block base_links -%}
<link rel="stylesheet" href="/static/css/layout.css">
{% block links %}
{% endblock links %}
{%- endblock base_links %}

{% block base_body %}
<div class="page-main">
    <div class="main-content">
        {% block content %}
        <h1>Default</h1>
        {% endblock content %}
    </div><!-- .main-content -->
    <div class="sidebar-left">
        {% block sidebar_left %}
        <h2>sidebar left</h2>
        {% endblock sidebar_left %}
    </div><!-- .sidebar-left -->
    <div class="sidebar-right">
        {% block sidebar_right %}
        <h2>sidebar right</h2>
        {% endblock sidebar_right %}
    </div><!-- .sidebar-right -->
</div><!-- .main -->
<div class="page-header">
    <div class="header-left">
        {% block header_left %}
        <h2>header left</h2>
        {% endblock header_left %}
    </div><!-- .header-left -->
    <div class="header-center">
        {% block header_center %}
        <h2>header center</h2>
        {% endblock header_center %}
    </div><!-- .header-center -->
    <div class="header-right">
        {% block header_right %}
        <h2>header right</h2>
        {% endblock header_right %}
    </div><!-- .header-right -->
</div><!-- .page-header -->
<div class="page-footer">
    footer
</div><!-- .page-footer -->
{% endblock base_body %}