{% extends '/templates/layout.html' %}

{% block content %}
<h1>Security Users Default</h1>
<client-list id="clientList"></client-list>
<roles-list id="roleList"></roles-list>
<users-list id="usersList"></users-list>
{% endblock %}

{% block bodyscripts %}
<script type="module" src="/static/js/admin.clients.js"></script>
<script type="module" src="/static/js/admin.roles.js"></script>
<script type="module" src="/static/js/admin.users.js"></script>
<script>
(function(){
    const clientList = document.getElementById('clientList');
    const roleList = document.getElementById('roleList');

    clientList.addEventListener('selectClient', function(e) {
        roleList.setClient(e.detail);
    });

    roleList.addEventListener('roleSelect', function(e) {
        console.log('roleSelect');
        console.log(e);
        console.log(e.detail);
    });
})();
</script>
{% endblock %}