.form-group .form-input {
    width: 100%;
}

.form-group span.help-text {
    display: block;
    font-size: 0.8em;
}

#general .tab-panel-content {
    display: grid;
    grid-template-columns: min-content auto min-content auto;
    row-gap: 4px;
}

#general .divider {
    grid-column: 1/ span 4;
}

#general .form-group-name,
#general .form-group-description {
    grid-column: 1/ span 4;
}

#general .form-group-dimension {
    display: flex;
    flex-direction: row;
}

#general .form-group-dimension input {
    flex: 1 1 0;
}