<div class="module-acctg-wrapper">
    <h1>Accounting</h1>
    <div class="module-acctg menu">
        <ul class="menu-list">
            <li><a title="Chart of Accounts" data-action="accounting.accounts">Accounts</a></li>
            <li><a title="Accounting Journal" data-action="accounting.journals">Journal</a></li>
            <li><a title="Trial Balance" data-action="accounting.trial_balance">Trial Balance</a></li>
            <li><a title="Fixed Assets" data-action="accounting.assets.fixed">Fixed Assets</a></li>
            <li><a title="Invoice" data-action="accounting.invoice">Invoice</a></li>
        </ul><!-- .menu-list -->
        <div class="menu-label">Settings</div>
        <ul class="menu-list">
            <li><a title="Asset Types" data-action="accounting.asset.types">Asset Types</a></li>
        </ul>
    </div><!-- .module-acctg -->
</div><!-- .module-acctg-wrapper -->