<div class="module-user-wrapper">
    <div class="module-user menu">
        <ul class="menu-list">
            <li><a title="Dashboard" data-action="user.dashboard">Dashboard</a></li>
        </ul><!-- .menu-list -->
        <div class="menu-label">Settings</div>
        <ul class="menu-list">
            <li><a title="Profile" data-action="user.profile">Profile</a></li>
        </ul>
        <div class="extensions">
        </div>
    </div><!-- .module-user -->
</div><!-- .module-user-wrapper -->