{% extends "saas.app.modules.inventory:templates/default.html" %}

{% import "saas.app:templates/forms.html" as forms %}

{% block title %}
Inventory Warehouses
{% endblock title %}

{% block content %}
<h1>Inventory Warehouses Content goes here</h1>
<div class="form-wrapper">
    <form class="form-receiving">
        <div class="table-wrapper">
            <table class="tbl-items">
                <caption>Items</caption>
                <colgroup>
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>UOM</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfooter>
                    <tr>
                        <td><a class="link-add" titlte="Add Item" href="#">&plus;</a></td>
                    </tr>
                </tfooter>
            </table>
        </div><!-- .table-wrapper -->
    </form>
</div><!-- .form-wrapper -->
{% endblock content %}