{% extends '/templates/inventory/default.html' %}

{% block links -%}
<link rel="stylesheet" href="/static/css/inventory/default.css">
{%- endblock %}

{% block title %}
Inventory Categories
{% endblock %}

{% block content_inventory %}
<h1>Categories</h1>
<notification-list></notification-list>
<table id="tblCategories">
    <thead>
        <tr>
            <th class="col-select"></th>
            <th class="col-active">Active</th>
            <th class="col-name">Name</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="3">
                <a title="Add Category" id="addCategory" class="nav-link link-add-category" href="#addCategory">Add</a>
            </th>
        </tr>
    </tfoot>
</table>
<modal-dialog id="category">
    <div class="form-wrapper">
        <notification-list></notification-list>
        <form class="form-category">
            <fieldset>
                <legend>Category</legend>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" title="Category Name" placeholder="Name" />
                </div><!-- .form-group -->
                <button type="button" id="btnSave" class="btn btn-primary">Save</button>
                <button type="button" id="btnCancel" class="btn">Cancel</button>
            </fieldset>
        </form>
    </div><!-- .form-wrapper -->
</modal-dialog>
{% endblock content_inventory %}

{% block scripts %}
<script type="module" src="/static/js/util.js"></script>
<script type="module" src="/static/js/components/notification.list.js"></script>
<script type="module" src="/static/js/components/modal.dialog.js"></script>
<script type="module" src="/static/js/api/inventory.categories.js"></script>
<script type="module">
'use strict';
import { InventoryCategories } from '/static/js/api/inventory.categories.js';
import { Util } from '/static/js/util.js';
(function(){
    const notifier = document.querySelector('notification-list');
    const refreshCategories = function(categories) {
        if (Array.isArray(categories)) {
            const tbody = document.querySelect('table#tblCategories tbody');
            while(tbody.firstChild) {
                tbody.removeChild(tbody.lastChild);
            }
            categories.forEach(c => {
                const tr = document.createElement('tr');
                tr.classList.add('row-item', 'row-item-category');
                tr.innerHTML = `
                    <td class="col-select">
                        <input type="radio" name="selectCategory" title="Select Category" value="${c.id}" />
                    </td>
                `;
                tbody.appendChild(tr);
            });
        } else {
            notifier.add('error', 'Expecting an array of categories');
        }
    };

    const addCategory = document.querySelector('a#addCategory');
    addCategory.addEventListener('click', function(e) {
        const md = document.querySelector('modal-dialog#category');
        const dlg = md.show();

        const n = dlg.querySelector('notification-list');

        const btnSave = dlg.querySelector('button#btnSave:not(.processed)');
        if (btnSave != null) {
            btnSave.classList.add('processed');
            btnSave.addEventListener('click', function(e) {
                const name = dlg.querySelector('input#name');
                if (name.value == '') {
                    n.add('error', 'Please enter a category name');
                } else {
                    InventoryCategories.add(window.variables.currentClient.id, name.value)
                        .then((e) => {
                            if (e.status == 'success') {
                                md.hide();
                            } else {
                                n.add('error', e.message);
                            }
                        });
                }
            });
        }

        const btnCancel = dlg.querySelector('button#btnCancel:not(.processed)');
        if (btnCancel != null) {
            btnCancel.classList.add('processed');
            btnCancel.addEventListener('click', function(e) {
                md.hide();
            });
        }
    });
})();
</script>
{% endblock scripts %}