{% extends '/templates/default.html' %}

{% block title %}
Inventory
{% endblock %}

{% block content %}
<h1>Inventory default</h1>
<nav class="navbar">
    <ul class="navbar-nav">
        <li>Menu Item 1</li>
        <li>Menu Item 2</li>
        <li>Menu Item 2</li>
    </ul><!--! .navbar-nav -->
</nav>
{% endblock %}

{% block scripts %}
<script type="module" src="/static/js/inventory/items.list.js"></script>
<script type="module" src="/static/js/inventory/item.edit.js"></script>
{% endblock scripts %}