{% extends '/templates/default.html' %}

{% block title %}
Inventory
{% endblock %}

{% block content_left %}
<section class="sidebar menu">
    <div class="menu-label">General</div>
    <ul class="menu-list">
        <li><a title="Dashboard" class="nav-link" href="/inventory/dashboard">Dashboard</a></li>
        <li><a title="Dashboard" class="nav-link" href="/inventory/items">Items</a></li>
    </ul><!-- .menu-list -->
    <div class="menu-label">Transactions</div>
    <ul class="menu-list">
        <li><a title="Receiving" class="nav-link" href="/inventory/receiving">Receiving</a></li>
    </ul><!-- .menu-list -->
</section>
{% endblock content_left %}

{% block content %}
{% block content_inventory %}
<h1>Inventory Default</h1>
{% endblock content_inventory %}
{% endblock %}

{% block scripts %}
<script type="module" src="/static/js/inventory/items.list.js"></script>
<script type="module" src="/static/js/inventory/item.edit.js"></script>
{% endblock scripts %}