{% extends '/templates/inventory/default.html' %}

{% block title %}
Inventory Items Receiving
{% endblock %}

{% block content %}
<h1>Inventory default</h1>
<notification-list></notification-list>
<receiving-editor></receiving-editor>
{% endblock %}

{% block scripts %}
<script type="module" src="/static/js/components/notification.list.js"></script>
<script type="module" src="/static/js/components/inventory/receiving.editor.js"></script>
<script src="https://unpkg.com/rxjs/bundles/rxjs.umd.min.js"></script>
{% endblock scripts %}