<div class="module-purchasing-wrapper">
    <h1>Purchasing</h1>
    <div class="module-purchasing menu">
        <ul class="menu-list">
            <li><a id="link-purchase-dashboard" title="Dashboard" data-action="purchasing.dashboard">Dashboard</a></li>
            <li><a id="link-purchase-orders" title="Purchase Orders" data-action="purchasing.orders">Purchase Orders</a></li>
            <li><a title="Vendors" data-action="purchasing.vendors">Vendors</a></li>
        </ul><!-- .menu-list -->
    </div><!-- .module-purchasing -->
</div><!-- .module-purchasing-wrapper -->