<div class="module-hr-wrapper">
    <h1>Human Resources</h1>
    <div class="module-hr menu">
        <ul class="menu-list">
            <li><a id="link-hr-dashboard" title="Dashboard" data-action="hr.dashboard">Dashboard</a></li>
            <li><a id="link-hr-team-explorer" title="Team Explorer" data-action="hr.team.explorer">Team</a></li>
        </ul><!-- .menu-list -->
        <div class="menu-label">Payroll</div>
        <ul class="menu-list">
            <li><a id="link-hr-times" title="Time Entries" data-action="hr.time.entries">Time Entries</a></li>
        </ul><!-- .menu-list -->
    </div><!-- .module-hr -->
</div><!-- .module-hr-wrapper -->