{% extends "saas.app.modules.accounting:templates/default.html" %}

{% import 'saas.app:templates/forms.html' as forms %}

{% block title %}
Accounting - Accounts
{% endblock title %}

{% block content %}
<notification-list></notification-list>
<div class="tree-wrapper">
    <account-tree show-add></account-tree>
</div><!-- .tree-wrapper -->
{% endblock content %}

{% block sidebar_right %}
<div class="form-wrapper">
    <form class="form-account">
        <fieldset>
            {{ forms.input('text', 'name', 'name', 'Name') }}
            {{ forms.input('textarea', 'description', 'description', 'Description') }}
            <div class="form-group">
                <label for="type">Type</label>
                <select id="type" class="form-input-type"></select>
            </div><!-- .form-group -->
        </fieldset>
        <button type="button" class="btn btn-primary btn-add" id="btnadd">Add</button>
    </form>
</div><!-- .form-wrapper -->
{% endblock sidebar_right %}

{% block scripts %}
<script type="module" src="/static/js/components/notification.list.js"></script>
<script type="module" src="/static/js/components/accounting/account.tree.js"></script>
<script type="module" src="/static/js/helpers/accounts.js"></script>
<script type="module">
'use strict';
import { Accounts } from '/static/js/helpers/accounts.js';
(function(){
    const client_id = '{{ client_id }}';
    const notifier = document.querySelector('notification-list');
    const atree = document.querySelector('account-tree');

    // Accounts.getAccountTypes().then((r) => {
    //     if (r.status == 'success') {
    //         const types = r.json.types;
    //         atree.setAccountTypes(types);
    //         const stypes = document.querySelector('form.form-account select.form-input-type');
    //         types.forEach(t => {
    //             const opt = document.createElement('option');
    //             opt.value = t.id;
    //             opt.text = t.name;

    //             stypes.appendChild(opt);
    //         });
    //     } else {
    //         notifier.add('error', r.message);
    //     }
    // });

    Accounts.getTree(client_id).then((r) => {
        if (r.status == 'success') {
            atree.addAccounts(r.json.accounts);
        } else {
            notifier.add('error', r.message);
        }
    });

    document.querySelector('form.form-account button.btn-add')
        .addEventListener('click', function(e) {
            const tname = document.querySelector('form.form-account input#name');
            const tdesc = document.querySelector('form.form-account textarea#description');
            const ttype = document.querySelector('form.form-account select#type');
            Accounts.add(client_id, ttype.value, tname.value, tdesc.value, null).then((r) => {
                notifier.add(r.status, r.message, 3000);
            });
        });

    // Accounts.all(client_id).then((r) => {
    //     if (r.status == 'success') {
    //         const accounts = r.json.accounts;
    //         atree.addAccounts(accounts);
    //     } else {
    //         notifier.add('error', r.message);
    //     }
    // });

    atree.addEventListener('onerror', function(e) {
        console.error(e);
        notifier.add('error', e.detail.message);
    });

    atree.addEventListener('onaddaccount', function(e) {
        console.log('onaddaccount');
        window.location = '{{ request.route_path('accounting.accounts.add') }}';
    });

    atree.addEventListener('onselectaccounttype', function(e) {
        const typeId = e.detail.accountTypeId;
        console.log('onselectaccounttype');
    });

    atree.addEventListener('onselectaccount', function(e) {
        const accountId = e.detail.accountId;
        Accounts.getChildren(client_id, accountId).then((r) => {
            if (r.status == 'success') {
                const accounts = r.json.accounts;
                atree.addAccounts(accounts, accountId);
            } else {
                notifier.add('error', r.message);
            }
        });
    });

    atree.addEventListener('onassignparentaccount', function(e) {
        console.log('onassignparentaccount');
        // console.log(e.detail);
        const parent_account_id = e.detail.parentAccountId;
        const account_id = e.detail.accountId;
        Accounts.assignParent(client_id, account_id, parent_account_id).then((r) => {
            if (r.status == 'success') {
                notifier.add('success', r.message);
            } else {
                notifier.add('error', r.message);
            }
        });
    });
})();
</script>
{% endblock scripts %}