{% extends "saas.app.modules.accounting:templates/default.html" %}

{% block title %}
Accounting - Accounts
{% endblock title %}

{% block content %}
<notification-list></notification-list>
<div class="tree-wrapper">
    <account-tree show-add></account-tree>
</div><!-- .tree-wrapper -->
{% endblock content %}

{% block scripts %}
<script type="module" src="/static/js/components/notification.list.js"></script>
<script type="module" src="/static/js/components/accounting/account.tree.js"></script>
<script type="module" src="/static/js/helpers/accounts.js"></script>
<script type="module">
'use strict';
import { Accounts } from '/static/js/helpers/accounts.js';
(function(){
    const client_id = '{{ client_id }}';
    const notifier = document.querySelector('notification-list');
    const atree = document.querySelector('account-tree');

    Accounts.all(client_id).then((r) => {
        if (r.status == 'success') {
            const accounts = r.json.accounts;
            atree.addAccounts(accounts);
        } else {
            notifier.add('error', r.message);
        }
    });

    atree.addEventListener('onerror', function(e) {
        console.error(e);
        notifier.add('error', e.detail.message);
    });

    atree.addEventListener('onaddaccount', function(e) {
        console.log('onaddaccount');
        window.location = '{{ request.route_path('accounting.accounts.add') }}';
    });

    atree.addEventListener('onselectaccount', function(e) {
        const accountId = e.detail.accountId;
        Accounts.getChildren(client_id, accountId).then((r) => {
            if (r.status == 'success') {
                const accounts = r.json.accounts;
                atree.addAccounts(accounts, accountId);
            } else {
                notifier.add('error', r.message);
            }
        });
    });

    atree.addEventListener('onassignparentaccount', function(e) {
        console.log('onassignparentaccount');
        // console.log(e.detail);
        const parent_account_id = e.detail.parentAccountId;
        const account_id = e.detail.accountId;
        Accounts.assignParent(client_id, account_id, parent_account_id).then((r) => {
            if (r.status == 'success') {
                notifier.add('success', r.message);
            } else {
                notifier.add('error', r.message);
            }
        });
    });
})();
</script>
{% endblock scripts %}