{% extends '/templates/layout.html' %}

{% block content %}
<h1>Clients</h1>
<div>list of clients here</div>
<ul id="clientList">
{% for client in clients %}
    <li class="client-list-item">
        {% if request_uri is defined %}
        <a class="nav-link client-item-link" title="{{ client.name }}" href="/client/select?client={{ client.id }}&destination={{ request_uri }}">{{ client.name }}</a>
        {% else  %}
        <a class="nav-link client-item-link" title="{{ client.name }}" href="/client/select?client={{ client.id }}">{{ client.name }}</a>
        {% endif %}
    </li>
{% endfor %}
</ul><!-- #clientList-->
{% endblock %}

{% block bodyscripts %}
<!-- <script type="text/javascript" src="/static/js/clients.js"></script> -->
<script>
(function(){
})();
</script>
{% endblock %}