{% extends "/templates/base.html" %}

{% block content %}
<h1>Clients</h1>
<div>list of clients here</div>
<ul id="clientList">
{% for client in clients %}
    <li class="client-list-item">
        <a class="nav-link client-item-link" title="{{ client.name }}" href="/client/select?client={{ client.id }}">{{ client.name }}</a>
    </li>
{% endfor %}
</ul><!-- #clientList-->
{% endblock %}

{% block bodyscripts %}
<!-- <script type="text/javascript" src="/static/js/clients.js"></script> -->
<script>
(function(){
})();
</script>
{% endblock %}