{% extends "/templates/base.html" %}

{% block content %}
<h1>Clients</h1>
<div>list of clients here</div>
<datalist id="clients">
{% for client in clients %}
    <option value="{{ client.id }}" label="{{ client.name }}">
{% endfor %}
</datalist>
<client-selection for="clients"></client-selection>
{% endblock %}

{% block bodyscripts %}
<script type="text/javascript" src="/static/js/clients.js"></script>
<script>
(function(){
    // var params = {};
    // params.clients = [
    //     {% for client in clients %}
    //         { 'id':'{{ client.id }}', 'name':'{{ client.name }}' },
    //     {% endfor %}
    // ];
    // window.params = params;
})();
</script>
{% endblock %}