{% extends "saas.app:templates/default.html" %}

{% block title %}
Inventory
{% endblock title %}

{% block content %}
<h1>Inventory Content goes here</h1>
{% endblock content %}

{% block sidebar_left %}
<div class="menu">
    <div class="menu-label">Admin</div>
    <ul class="menu-list">
        <li><a class="nav-link link-inventory" title="Dashboard" href="{{ request.route_path('inventory.dashboard') }}">Dashboard</a></li>
        <li><a class="nav-link link-inventory" title="Items" href="{{ request.route_path('inventory.items.list') }}">Items</a></li>
    </ul><!-- .menu-list -->
    <div class="menu-label">Maintenance</div>
    <ul class="menu-list">
        <li><a class="nav-link" title="Item Groups" href="{{ request.route_path('inventory.items.groups') }}">Groups</a></li>
        <li><a class="nav-link" title="Warehouses" href="{{ request.route_path('inventory.warehouses') }}">Warehouses</a></li>
        <li><a class="nav-link" title="Locations" href="{{ request.route_path('inventory.locations') }}">Locations</a></li>
    </ul><!-- .menu-list -->
</div><!-- .menu -->
{% endblock sidebar_left %}