{% extends "saas.app:templates/default.html" %}

{% block title %}
Inventory
{% endblock title %}

{% block content %}
<h1>Inventory Content goes here</h1>
{% endblock content %}

{% block sidebar_left %}
<div class="menu">
    <div class="menu-label">Admin</div>
    <ul class="menu-list">
        <li><a class="nav-link link-admin-clients" title="Dashboard" href="/inventory">Dashboard</a></li>
        <li><a class="nav-link link-admin-clients" title="Items" href="/inventory/items/list">Items</a></li>
    </ul><!-- .menu-list -->
</div><!-- .menu -->
{% endblock sidebar_left %}