<h1>inventory</h1>
<div class="module-admin menu">
    <ul class="menu-list">
        <li><a title="Items">Items</a></li>
    </ul><!-- .menu-list -->
    <div class="menu-label">Transactions</div>
    <ul class="menu-list">
        <li><a title="Receiving">Receiving</a></li>
    </ul><!-- .menu-list -->
    <div class="menu-label">Maintenance</div>
    <ul class="menu-list">
        <li><a>Warehouses</a></li>
        <li><a>Locations</a></li>
    </ul><!-- .menu-list -->
</div><!-- .module-admin -->