.table-wrapper {
    
}

.table-wrapper .header,
.table-wrapper .body {
    
}

.table-wrapper .header .row,
.table-wrapper .body .row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.table-wrapper .header .row .column,
.table-wrapper .body .row .column {
    flex: auto;
    border: solid 1px black;
}