/** common styles **/
html {
    background-color: #ebedf0;
    height: 100%;
}

.hide {
    display: none;
}

#sidebarright,
#sidebarleft,
#content {
    padding: 6px;
}

.modules-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.modules-wrapper a span:not(.material-icons) {
    display: none;
}

.modules-wrapper .module-links {
    background-color: #7e7f81;;
    padding: 2px;
}

.modules-wrapper .module-links li.module-item.active {
    background-color: #d3d5d8;
}

.modules-wrapper .module-contents {
    padding: 4px;
    background-color: #a8aaac;
}

.modules-wrapper .module-contents .module-content:not(.active) {
    display: none;
}

.tab-vertical {
    display: flex;
    flex-direction: row;
}

.tab-vertical span:not(.material-icons) {
    display: none;
}