body {
    display: flex;
    flex-direction: column;
}

body > .page-header {
    order: 1;
    display: flex;
    flex-direction: row;
}

body > .page-main {
    order: 2;
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
}

body > .page-footer {
    order: 3;
}

.page-main > .sidebar-left {
    order: 1;
}

.page-main > .main-content {
    order: 2;
    flex: 1 1 0;
    padding: 4px;
}

.page-main > .sidebar-right {
    order: 3;
}

.page-header > .header-center {
    flex: 1 1 0;
}