.row-wrapper {
    display: flex;
    flex-direction: column;
}

.col-wrapper {
    display: flex;
    flex-direction: row;
}

#rowheader #colheader .col {
    flex: auto;
}

#rowheader #colheader #hdrleft {
    flex: none;
}

#rowcontent #sidebarleft {
    flex: none;
}

#rowcontent #content {
    flex: 1;
}

#rowcontent #siderbarright {
    flex: none;
}

#bodywrapper #rowcontent .col-wrapper {
    display: flex;
    flex: 1;
}

.layout-wrapper {
    display: grid;
    grid-template-columns: min-content auto min-content min-content;
}

.layout-wrapper .header-right {
    grid-column-start: 3;
    grid-column-end: 5;
}

.layout-wrapper .main-content {
    grid-column-start: 2;
    grid-column-end: 4;
}

.layout-wrapper .footer-center {
    grid-column-start: 2;
    grid-column-end: 4;
}