/** notification list styles **/
ul.notification-list {
    padding: 2px;
    list-style-type: none;
}

/*
ul.notification-list li.message-success {
    background: green;
    border: solid 1px green;
}

ul.notification-list li.message-error {
    background: red;
    border: solid 1px red;
}
*/