/** tree grid indents **/
table.treegrid tr[aria-level="2"] > td:first-child {
    padding-left: 2ch;
}

table.treegrid tr[aria-level="3"] > td:first-child {
    padding-left: 4ch;
}

table.treegrid tr[aria-level="4"] > td:first-child {
    padding-left: 6ch;
}

table.treegrid tr[aria-level="5"] > td:first-child {
    padding-left: 8ch;
}

table.treegrid tr[aria-level="6"] > td:first-child {
    padding-left: 10ch;
}

table.treegrid tr.drag-start {
    opacity: 0.5;
}

table.treegrid tr.drag-over {
    text-decoration: underline;
}