{% extends "saas.app.modules.clients:templates/default.html" %}

{% import "saas.app:templates/forms.html" as forms %}

{% block title %}
Organizations Home
{% endblock title %}

{% block content %}
<h1>Client Organizations</h1>
<notification-list></notification-list>
<div class="wrapper">
    <organization-tree></organization-tree>
</div><!-- .wrapper -->
{% endblock content %}

{% block sidebar_right %}
<div class="form-wrapper">
    <h3>New Organization</h3>
    <form class="form-org">
        <fieldset>
            {{ forms.input('text', 'name', 'name', 'Name') }}
            {{ forms.input('textarea', 'description', 'description', 'Description') }}
        </fieldset>
        <button type="button" class="btn btn-add">Add</button>
    </form>
</div><!-- .form-wrapper -->
{% endblock sidebar_right%}

{% block scripts %}
<script type="module" src="/static/js/components/notification.list.js"></script>
<script type="module" src="/static/js/helpers/clients/organizations.js"></script>
<script type="module" src="/static/js/components/clients/organizations.tree.js"></script>
<script type="module">
'use strict';
import { Organizations } from '/static/js/helpers/clients/organizations.js';
(function(){
    const notifier = document.querySelector('notification-list');
    const orgTree = document.querySelector('organization-tree');

    const refreshTree = function(){
        Organizations.tree().then((r) => {
            if (r.status == 'success') {
                // console.log(r);
                orgTree.setOrganizations(r.json.organizations);
            } else {
                notifier.add('error', r.message);
            }
        });
    };

    document.querySelector('button.btn-add').addEventListener('click', function(e){
        console.log('add organization');
        const tName = document.querySelector('form.form-org input#name');
        const tDescription = document.querySelector('form.form-org textarea#description');
        Organizations.add(tName.value, tDescription.value).then((r) => {
            if (r.status == 'success') {
                document.querySelector('form.form-org').reset();
            } else {
                notifier.add('error', r.message);
            }
        });
    });

    orgTree.addEventListener('onassignparent', function(e) {
        const orgId = e.detail.orgId;
        const parentOrgId = e.detail.parentOrgId;

        Organizations.assignParentOrganization(orgId, parentOrgId).then((r) => {
            if (r.status == 'success') {
                refreshTree();
            } else {
                notifier.add('error', r.message);
            }
        });
    });

    refreshTree();
})();
</script>
{% endblock scripts %}