/** common styles **/
@import url(https://fonts.googleapis.com/icon?family=Material+Icon)

html {
    background-color: #ebedf0;
    height: 100%;
}

.hide {
    display: none;
}

#sidebarright,
#sidebarleft,
#content {
    padding: 6px;
}

.modules-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.modules-wrapper a span:not(.material-icons) {
    display: none;
}

.modules-wrapper .module-links {
    background-color: #7e7f81;;
    padding: 2px;
}

.modules-wrapper .module-links li.module-item.active {
    background-color: #d3d5d8;
}

.modules-wrapper .module-contents {
    padding: 4px;
    background-color: #a8aaac;
}

.modules-wrapper .module-contents .module-content:not(.active) {
    display: none;
}

.navigators {
    height: 100%;
    background-color: #a8aaac;
}

.tab-vertical {
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.tab-vertical .nav-links {
    background-color: #7e7f81;;
    padding: 2px;
}

.tab-vertical .nav-links span:not(.material-icons) {
    display: none;
}

.tab-vertical .nav-links li.active {
    background-color: #d3d5d8;
}

.tab-vertical .nav-contents {
    padding: 4px;
}

.tab-vertical .nav-contents .nav-content:not(.active) {
    display: none;
}

.view-wrapper {
    padding: 4px;
}

.view-wrapper .view-header {
    display: flex;
    flex-direction: row;
}

.view-wrapper .view-header > h4 {
    flex: 1 1 0;
}

.view-wrapper .view-header span {
    font-size: 1em;
}


[role="toolbar"] {
    display: flex;
    flex-direction: row;
    margin: 4px;
}

[role="toolbar"] .group {
    margin-left: 2px;
}