.column-wrapper {
    display: flex;
    flex-flow: column;
}

.row-wrapper {
    display: flex;
    flex-flow: row;
}

.row-1 {
    padding: 1em;
}

.row-wrapper .col-1 {
    flex: 1;
}

.row-wrapper .col-sidebar {
    width: 12%;
}