<div class="module-inventory-wrapper">
    <h1>Inventory</h1>
    <div class="module-admin menu">
        <ul class="menu-list">
            <li><a id="link-inventory-items" title="Items" data-action="inventory.items">Items</a></li>
        </ul><!-- .menu-list -->
        <div class="menu-label">Transactions</div>
        <ul class="menu-list">
            <li><a title="Receiving" data-action="inventory.transactions.receiving">Receiving</a></li>
        </ul><!-- .menu-list -->
        <div class="menu-label">Maintenance</div>
        <ul class="menu-list">
            <li><a>Warehouses</a></li>
            <li><a>Locations</a></li>
        </ul><!-- .menu-list -->
    </div><!-- .module-admin -->
</div><!-- .module-inventory-wrapper -->
<script type="module">
'use script';
(function(){
    // const tab = document.querySelector('tab-container');

    // document.getElementById('link-inventory-items').addEventListener('click', function(e) {
    //     console.log('link-inventory-items');

    //     tab.addTab('items', 'Items', '<h1>Inventory Items</h1>');
    // });
    // if (!window.actions) {
    //     window.actions = {};
    // }
    // window.actions['inventory.items'] = function(){
    //     console.log('inventory items action');
    // };

    // window.actions['inventory.transactions.receiving'] = function() {
    //     console.log('inventory transactions receiving action');
    // }

    window.actions = window.actions ? window.actions : {};
    window.actions['inventory.items'] = function(){
        console.log('inventory items action');
    };
})();
</script>