<div class="module-inventory-wrapper">
    <h1>Inventory</h1>
    <div class="module-admin menu">
        <ul class="menu-list">
            <li><a id="link-inventory-items" title="Items" data-action="inventory.items">Items</a></li>
        </ul><!-- .menu-list -->
        <div class="menu-label">Transactions</div>
        <ul class="menu-list">
            <li><a title="Receiving" data-action="inventory.transactions.receiving">Receiving</a></li>
        </ul><!-- .menu-list -->
        <div class="menu-label">Maintenance</div>
        <ul class="menu-list">
            <li><a title="Warehouses" data-action="inventory.warehouses">Warehouses</a></li>
            <li><a title="Locations" data-action="inventory.locations">Locations</a></li>
        </ul><!-- .menu-list -->
    </div><!-- .module-admin -->
</div><!-- .module-inventory-wrapper -->