<div class="module-crm-wrapper">
    <h1>CRM</h1>
    <div class="module-admin menu">
        <ul class="menu-list">
            <li><a id="link-crm-dashboard" title="Dashboard" data-action="crm.dashboard">Dashboard</a></li>
            <li><a id="link-crm-organizations" title="Organizations" data-action="crm.organizations">organizations</a></li>
            <li><a id="link-crm-people" title="People" data-action="crm.people">People</a></li>
        </ul><!-- .menu-list -->
    </div><!-- .module-admin -->
</div><!-- .module-inventory-wrapper -->