form {
    display: grid;
    grid-template-columns: min-content auto;
}

.form-group-active {
    grid-column: 2/3;
}

.wrapper-dates {
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
}

fieldset#dates-planned {
    display: grid;
    grid-template-columns: min-content 50% 50%;
}

fieldset#dates-actual {
    display: grid;
    grid-template-columns: min-content auto auto;
}

#chart-wrapper {
    grid-column: 1/3;
    width: 100%;
    height: 200px;
    border: solid 1px black;
}

#tasks-wrapper {
    grid-column: 1/3;
}

#tasks {
    list-style: outside;
    padding-left: 1rem;
    counter-reset: task_count;
}

#tasks .task-items {
    counter-increment: task_count;
}

#tasks .task-items .link-task::after {
    content: " " counter(task_count);
}

#tasks .task-items.collapsable.collapsed .task main {
    display: none;
}