{% extends "saas.app.modules.inventory:templates/default.html" %}

{% import "saas.app:templates/forms.html" as forms %}

{% block title %}
Inventory - Receiving
{% endblock title %}

{% block content %}
<h1>Receiving</h1>
<notification-list></notification-list>
<div class="form-wrapper">
    <form class="form-receiving">
        <div class="table-wrapper">
            <items-table caption="Items to Receive" hide-description show-add ></items-table>
        </div><!-- .table-wrapper -->
    </form>
</div><!-- .form-wrapper -->
{% endblock content %}

{% block scripts %}
<script type="module" src="/static/js/components/notification.list.js"></script>
<script type="module" src="/static/js/components/inventory/items.table.js"></script>
<script type="module" src="/static/js/components/inventory/item.selector.js"></script>
<script type="module">
(function(){

})();
</script>
{% endblock scripts %}