{% extends '/templates/layout.html' %}

{% block title -%}
Forbidden
{%- endblock %}

{% block content %}
<h4>You do not have permission to view this data for this client</h4>
{% if clients is defined %}
<h4>Please select another client</h4>
<clients-list id="clientsList"></clients-list>
{% endif %}
{% endblock content %}

{% block scripts %}
<script type="module" src="/static/js/api/clients.js"></script>
<script type="module" src="/static/js/components/clients/clients.list.js"></script>
<script type="module">
'use strict';
import { Clients } from '/static/js/api/clients.js';

(function(){
    const cl = document.getElementById('clientsList');
    const clients = [
        {% for client in clients %}
            { id: '{{ client.id }}', name: '{{ client.name }}' },
        {% endfor %}
    ];
    cl.setClients(clients);
    cl.addEventListener('onselectclient', function(e) {
        Clients.select(e.detail.clientId, function(e) {
            if (e.status == 'success') {
                window.location.reload();
            } else {
                console.error(e.message);
            }
        });
    });
})();
</script>
{% endblock scripts %}