{% extends '/templates/admin/clients/default.html' %}

{% block title -%}
Administer Clients
{%- endblock %}

{% block content %}
<notification-list id="notifications"></notification-list>
<clients-table show-add></clients-table>
<modal-dialog>
    <div class="form-wrapper">
        <form class="form-client">
            <fieldset>
                <legend>Required</legend>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-input-text form-input-name" title="Client Name" placeholder="Client Name" />
                </div><!-- .form-group -->
            </fieldset>
            <button type="button" id="btnSave" class="btn btn-primary">Save</button>
            <button type="button" id="btnCancel" class="btn btn-secondary">Cancel</button>
        </form>
    </div><!-- .form-wrapper -->
</modal-dialog>
{% endblock content %}

{% block scripts %}
<script type="module" src="/static/js/components/notification.list.js"></script>
<script type="module" src="/static/js/components/modal.dialog.js"></script>
<script type="module" src="/static/js/components/admin/clients/clients.table.js"></script>
<script type="module">
'use strict';
import { AdminClients } from '/static/js/api/admin.clients.js';

(function(){
    const n = document.querySelector('notification-list');
    const ctbl = document.querySelector('clients-table');

    const refreshClients = function() {
        AdminClients.all().then((e) => {
            if (e.status == 'success') {
                ctbl.setClients(JSON.parse(e.json));
            } else {
                n.add('error', e.message);
            }
        });
    };

    refreshClients();

    ctbl.addEventListener('onaddclient', function(e) {
        const md = document.querySelector('modal-dialog');
        const dlg = md.show();
    });

    ctbl.addEventListener('onselectclient', function(e) {
        console.log('onselectclient');
    });

    ctbl.addEventListener('onupdateclientactive', function(e) {
        console.log('onupdateclientactive');
    });

    ctbl.addEventListener('onerror', function(e) {
        console.log('onerror');
    });
})();
</script>
{% endblock scripts %}