{% extends '/templates/admin/clients/default.html' %}

{% block title -%}
Client Roles
{%- endblock %}

{% block content %}
<notification-list id="notifications"></notification-list>
<form>
    <fieldset>
        <legend>Clients</legend>
        <clients-table hide-active="true"></clients-table>
    </fieldset>
    <fieldset>
        <legend>Roles</legend>
        <roles-table show-add></roles-table>
    </fieldset>
    <fieldset>
        <legend>Permissions</legend>
        <permissions-table></permissions-table>
    </fieldset>
</form>
<modal-dialog id="rolesDlg">
    <div class="form-wrapper">
        <notification-list></notification-list>
        <form class="form-role">
            <fieldset>
                <legend>Roles</legend>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" title="Role Name" class="form-input-text form-input-name" />
                </div><!-- .form-group -->
            </fieldset>
            <button type="button" class="btn btn-save">Save</button>
            <button type="button" class="btn btn-cancel">Cancel</button>
        </form>
    </div><!-- .form-wrapper -->
</modal-dialog>
<modal-dialog id="permissionsDlg">
    <div class="form-wrapper">
        <notification-list></notification-list>
        <form class="form-permissions">
            <fieldset>
                <legend>Permissions</legend>
                <permissions-table></permissions-table>
            </fieldset>
            <button type="button" class="btn btn-save">Save</button>
            <button type="button" class="btn btn-cancel">Cancel</button>
        </form>
    </div><!-- .form-wrapper -->
</modal-dialog>
{% endblock content %}

{% block scripts %}
<script type="module" src="/static/js/components/notification.list.js"></script>
<script type="module" src="/static/js/components/admin/clients/clients.table.js"></script>
<script type="module" src="/static/js/components/roles.table.js"></script>
<script type="module" src="/static/js/components/permissions.table.js"></script>
<script type="module" src="/static/js/modal.dialog.js"></script>
<script type="module">
"use strict";
import { AdminClients } from '/static/js/api/admin.clients.js';

(function(){
    const notifier = document.querySelector('notifications-list');
    const ctbl = document.querySelector('clients-table');
    const rtbl = document.querySelector('roles-table');
    const ptbl = document.querySelector('permissions-table');

    let currentClientId = '';
    let currentRoleId = '';

    const refreshRoles = function(clientId) {
        AdminClients.roles(clientId, function(e) {
            if (e.status == 'success') {
                rtbl.setRoles(JSON.parse(e.json), { 
                    allowAdd: true,
                    multiselect: false,
                    hideActiveColumn: true 
                });
            } else {
                notifications.add('error', e.message);
            }
        });
    };

    const refreshPermissions = function(clientId, roleId) {
        AdminClients.rolePermissions(currentClientId, currentRoleId, function(e) {
            if (e.status == 'success') {
                ptbl.setPermissions(JSON.parse(e.json), {
                    allowAdd: true,
                    multiselect: false,
                    hideActiveColumn: true
                });
            }
        });
    };

    AdminClients.clients()
        .then((e) => {
            if (e.status == 'success') {
                ctbl.setClients(JSON.parse(e.json));
            } else {
                n.add('error', e.message);
            }
        });

    ctbl.addEventListener('onselectclient', function(e) {
        currentClientId = e.detail.clientId;
        refreshRoles(currentClientId);
    });

    rtbl.addEventListener('onselectrole', function(e) {
        currentRoleId = e.detail.roleId;
        refreshPermissions(currentClientId, currentRoleId);
    });

    rtbl.addEventListener('onaddrole', function(e) {
        const modal = document.querySelector('modal-dialog#rolesDlg');
        const dlg = modal.show();
        const n = dlg.querySelector('notifications-list');

        const btnAdd = dlg.querySelector('button.btn-save');
        btnAdd.addEventListener('click', function(e) {
            const tName = dlg.querySelector('input#name');
            AdminClients.addRole(currentClientId, tName.value, function(e) {
                if (e.status == 'success') {
                    modal.hide();
                } else {
                    n.add('error', e.message);
                }
            });
        });

        const btnCancel = dlg.querySelector('button.btn-cancel');
        btnCancel.addEventListener('click', function(e) {
            modal.hide();
        });
    });

    ptbl.addEventListener('onaddpermission', function(e) {
        const modal = document.querySelector('modal-dialog#permissionsDlg');
        const dlg = modal.show();
        const n = dlg.querySelector('notifications-list');
        const fptbl = dlg.querySelector('permissions-table');

        AdminClients.permissions(function(e) {
            if (e.status == 'success') {
                fptbl.setPermissions(JSON.parse(e.json), {
                    allowAdd: false,
                    multiselect: true,
                    hideActiveColumn: true
                });
            } else {
                n.add('error', e.message);
            }
        });

        const btnAdd = dlg.querySelector('button.btn-save');
        btnAdd.addEventListener('click', function(e) {
            const permissions = fptbl.getSelected();
            AdminClients.rolePermissionsAdd(currentClientId, currentRoleId, permissions, function(e) {
                if (e.status == 'success') {
                    refreshPermissions(currentClientId, currentRoleId);
                    modal.hide();
                } else {
                    n.add('error', e.message);
                }
            });
        });

        const btnCancel = dlg.querySelector('button.btn-cancel');
        btnCancel.addEventListener('click', function(e) {
            modal.hide();
        });
    });
})();
</script>
{% endblock scripts %}