{% extends '/templates/default.html' %}

{% block title -%}
Client Roles
{%- endblock %}

{% block content %}
<notification-list id="notifications"></notification-list>
<form>
    <fieldset>
        <legend>Clients</legend>
        <clients-table></clients-table>
    </fieldset>
    <fieldset>
        <legend>Roles</legend>
        <roles-table></roles-table>
    </fieldset>
</form>
{% endblock content %}

{% block scripts %}
<script type="module" src="/static/js/components/notification.list.js"></script>
<script type="module" src="/static/js/components/admin/clients/clients.table.js"></script>
<script type="module" src="/static/js/components/roles.table.js"></script>
<script type="module">
"use strict";
import { AdminClients } from '/static/js/api/admin.clients.js';

(function(){
    const n = document.querySelector('notifications-list');
    const ctbl = document.querySelector('clients-table');
    const rtbl = document.querySelector('roles-table');

    AdminClients.all((e) => {
        if (e.status == 'success') {
            ctbl.setClients(JSON.parse(e.json), { allowAdd: false });
        } else {
            n.add('error', e.message);
        }
    });
})();
</script>
{% endblock scripts %}