{% extends '/templates/admin/clients/default.html' %}

{% block title -%}
Client Users
{%- endblock %}

{% block content %}
<notification-list id="notifications"></notification-list>
<form>
    <fieldset>
        <legend>Clients</legend>
        <clients-table hide-active="true"></clients-table>
    </fieldset>
    <fieldset>
        <legend>Users</legend>
        <users-table show-add hide-active></users-table>
    </fieldset>
    <fieldset>
        <legend>Roles</legend>
        <roles-table show-add hide-active></roles-table>
    </fieldset>
</form>
<modal-dialog id="modalUsers">
    <div class="form-wrapper">
        <notifications-list></notifications-list>
        <form class="users">
            <fieldset>
                <legend>Users</legend>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-input-email" placeholder="Email address" />
                </div><!-- .form-group -->
            </fieldset>
            <button type="button" class="btn-save">Save</button>
            <button type="button" class="btn-cancel">Cancel</button>
        </form>
    </div><!-- .form-wrapper -->
</modal-dialog>
<modal-dialog id="modalRoles">
    <div class="form-wrapper">
        <notification-list></notification-list>
        <form class="roles">
            <fieldset>
                <legend>Roles</legend>
                <roles-table id="selectRoles" multiselect hide-active></roles-table>
            </fieldset>
            <button type="button" class="btn btn-save">Save</button>
            <button type="button" class="btn btn-cancel">Cancel</button>
        </form>
    </div><!-- .form-wrapper -->
</modal-dialog>
{% endblock content %}

{% block scripts %}
<script type="module" src="/static/js/components/notification.list.js"></script>
<script type="module" src="/static/js/components/admin/clients/clients.table.js"></script>
<script type="module" src="/static/js/components/users.table.js"></script>
<script type="module" src="/static/js/components/roles.table.js"></script>
<script type="module" src="/static/js/components/modal.dialog.js"></script>
<script type="module">
"use strict";
import { AdminClients } from '/static/js/api/admin.clients.js';

(function(){
    const notifier = document.querySelector('notification-list');
    const ctbl = document.querySelector('clients-table');
    const utbl = document.querySelector('users-table');
    const rtbl = document.querySelector('roles-table');

    let currentClientId = '';
    let currentUserId = '';

    const refreshUsers = function(clientId) {
        AdminClients.users(clientId).then((e) => {
            if (e.status == 'success') {
                utbl.setUsers(JSON.parse(e.json));
            } else {
                n.add('error', e.message);
            }
        });
    };

    const refreshRoles = function(clientId, userId) {
        AdminClients.userRoles(clientId, userId).then((e) => {
            if (e.status == 'success') {
                rtbl.setRoles(JSON.parse(e.json), { 
                    allowAdd: true,
                    multiselect: false,
                    hideActiveColumn: true
                });
            } else {
                n.add('error', e.message);
            }
        });
    };

    AdminClients.clients().then((e) => {
        if (e.status == 'success') {
            ctbl.setClients(JSON.parse(e.json));
        } else {
            n.add('error', e.message);
        }
    });

    ctbl.addEventListener('onselectclient', function(e) {
        currentClientId = e.detail.clientId;
        refreshUsers(currentClientId);
    });

    utbl.addEventListener('onadduser', function(e) {
        if (currentClientId == '') {
            notifier.add('error', 'Please select a client');
        } else {
            const modal = document.querySelector('modal-dialog#modalUsers');
            const dlg = modal.show();
            const n = dlg.querySelector('notification-list');

            const email = dlg.querySelector('#email');

            const save = dlg.querySelector('button.btn-save');
            save.addEventListener('click', function(e) {
                if (email.value == '') {
                    n.add('error', 'Please enter a valid email address');
                } else {
                    AdminClients.addUserToClient(currentClientId, email.value).then((e) => {
                        if (e.status == 'success') {
                            notifier.add('succes', e.message);
                            refreshUsers(currentClientId);
                            modal.hide();
                        } else {
                            n.add('error', e.message);
                        }
                    });
                }
            });

            const bcancel = dlg.querySelector('button.btn-cancel');
            bcancel.addEventListener('click', function(e) {
                modal.hide();
            });
        }
    });

    utbl.addEventListener('onselectuser', function(e) {
        currentUserId = e.detail.userId;
        refreshRoles(currentClientId, currentUserId);
    });

    rtbl.addEventListener('onaddrole', function(e) {
        if (currentUserId == '') {
            notifier.add('error', 'Please select a user');
        } else {

            const modal = document.querySelector('modal-dialog#modalRoles');
            const dlg = modal.show();
            const n = dlg.querySelector('notification-list');
            const frtbl = dlg.querySelector('roles-table');

            AdminClients.roles(currentClientId).then((e) => {
                if (e.status == 'success') {
                    frtbl.setRoles(JSON.parse(e.json));
                } else {
                    n.add('error', e.message);
                }
            });

            const btnSave = dlg.querySelector('button.btn-save');
            btnSave.addEventListener('click', function(e) {
                const roles = frtbl.getSelectedRoles();
                AdminClients.assignRolesToUser(currentClientId, currentUserId, roles).then((e) => {
                    if (e.status == 'success') {
                        notifier.add('success', e.message);
                        refreshRoles(currentClientId, currentUserId);
                        modal.hide();
                    } else {
                        n.add('error', e.message);
                    }
                });
            });

            const btnCancel = dlg.querySelector('button.btn-cancel');
            btnCancel.addEventListener('click', function(e) {
                modal.hide();
            });
        }
    });
})();

</script>
{% endblock scripts %}