{% extends '/templates/default.html' %}

{% block title -%}
Client Users
{%- endblock %}

{% block content %}
<notification-list id="notifications"></notification-list>
<form>
    <fieldset>
        <legend>Clients</legend>
        <clients-table></clients-table>
    </fieldset>
    <fieldset>
        <legend>Users</legend>
        <users-table></users-table>
    </fieldset>
    <fieldset>
        <legend>Roles</legend>
        <roles-table></roles-table>
    </fieldset>
</form>
<modal-dialog id="modalUsers">
    <div class="form-wrapper">
        <notifications-list></notifications-list>
        <form class="users">
            <fieldset>
                <legend>Users</legend>
            </fieldset>
        </form>
    </div><!-- .form-wrapper -->
</modal-dialog>
<modal-dialog id="modalRoles">
    <div class="form-wrapper">
        <notifications-list></notifications-list>
        <form class="roles">
            <fieldset>
                <legend>Roles</legend>
                <roles-table id="selectRoles"></roles-table>
            </fieldset>
            <button type="button" class="btn btn-save">Save</button>
            <button type="button" class="btn btn-cancel">Cancel</button>
        </form>
    </div><!-- .form-wrapper -->
</modal-dialog>
{% endblock content %}

{% block scripts %}
<script type="module" src="/static/js/components/notification.list.js"></script>
<script type="module" src="/static/js/components/admin/clients/clients.table.js"></script>
<script type="module" src="/static/js/components/users.table.js"></script>
<script type="module" src="/static/js/components/roles.table.js"></script>
<script type="module" src="/static/js/modal.dialog.js"></script>
<script type="module">
"use strict";
import { AdminClients } from '/static/js/api/admin.clients.js';

(function(){
    const n = document.querySelector('notifications-list');
    const ctbl = document.querySelector('clients-table');
    const utbl = document.querySelector('users-table');
    const rtbl = document.querySelector('roles-table');

    let currentClientId = '';
    let currentUserId = '';

    const refreshUsers = function(clientId) {
        AdminClients.users(clientId, function(e) {
            if (e.status == 'success') {
                utbl.setUsers(JSON.parse(e.json), { 
                    allowAdd: true,
                    multiselect: false,
                    hideActiveColumn: true
                });
            } else {
                n.add('error', e.message);
            }
        });
    };

    const refreshRoles = function(clientId, userId) {
        AdminClients.userRoles(clientId, userId, function(e) {
            if (e.status == 'success') {
                rtbl.setRoles(JSON.parse(e.json), { 
                    allowAdd: true,
                    multiselect: false,
                    hideActiveColumn: true
                });
            } else {
                n.add('error', e.message);
            }
        });
    };

    AdminClients.all((e) => {
        if (e.status == 'success') {
            ctbl.setClients(JSON.parse(e.json), { allowAdd: false });
        } else {
            n.add('error', e.message);
        }
    });

    ctbl.addEventListener('onselectclient', function(e) {
        currentClientId = e.detail.clientId;
        refreshUsers(currentClientId);
    });

    utbl.addEventListener('onadduser', function(e) {
        const modal = document.querySelector('modal-dialog#modalRoles');
        const dlg = modal.show();
        const n = dlg.querySelector('notifications-list');
    });

    utbl.addEventListener('onselectuser', function(e) {
        currentUserId = e.detail.userId;
        refreshRoles(currentClientId, currentUserId);
    });

    rtbl.addEventListener('onaddrole', function(e) {
        const modal = document.querySelector('modal-dialog#modalRoles');
        const dlg = modal.show();
        const n = dlg.querySelector('notifications-list');
        const frtbl = dlg.querySelector('roles-table');

        AdminClients.roles(currentClientId, function(e) {
            if (e.status == 'success') {
                frtbl.setRoles(JSON.parse(e.json), { 
                    multiselect: true, 
                    allowAdd: false, 
                    hideActiveColumn: true
                });
            } else {
                n.add('error', e.message);
            }
        });

        const btnSave = dlg.querySelector('button.btn-save');
        btnSave.addEventListener('click', function(e) {
            const roles = frtbl.getSelectedRoles();
            AdminClients.assignRolesToUser(currentClientId, currentUserId, roles, function(e) {
                if (e.status == 'success') {
                    refreshRoles(currentClientId, currentUserId);
                    modal.hide();
                } else {
                    n.add('error', e.message);
                }
            });
        });

        const btnCancel = dlg.querySelector('button.btn-cancel');
        btnCancel.addEventListener('click', function(e) {
            modal.hide();
        });
    });
})();

</script>
{% endblock scripts %}