{% extends "saas.app.modules.admin:templates/default.html" %}

{% block title %}
Administrater Clients - New Client
{% endblock title %}

{% block content %}
<h1>New Client</h1>
<div class="client-wrapper">
    <form class="form-client">
        <fieldset>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-input-text form-input-name" title="Client Name" placeholder="Name" />
            </div><!-- .form-group -->
            <div class="form-group">
                <label for="address">Address</label>
                <textarea id="address" name="address" class="form-input-textarea form-input-address" title="Client Address"></textarea>
            </div><!-- .form-group -->
        </fieldset>
        <button type="button" id="save" class="btn btn-primary" title="Save">Save</button>
        <button type="button" id="cancel" class="btn" title="Cancel">Cancel</button>
    </form><!-- .form-client -->
</div><!-- .client-wrapper -->
{% endblock content %}

{% block scripts %}
<script type="module" src="/static/js/components/notification.list.js"></script>
<script type="module" src="/static/js/helpers/clients.js"></script>
<script type="module">
'use strict';
import { Clients } from '/static/js/helpers/clients.js';
(function(){
    
})();
</script>
{% endblock scripts %}