{% extends "saas.app.modules.admin:templates/default.html" %}

{% block title %}
Administer Clients - Old Client
{% endblock title %}

{% block content %}
{% import 'saas.app:templates/forms.html' as forms %}
<h1>Old Client</h1>
<div class="form-wrapper">
    <form class="form-client">
        <fieldset class="actions">
            <div class="navbar navbar-icons">
                <a id="asave" class="nav-link" href="#asave" title="Save">Save</a>
            </div><!-- .navbar -->
        </fieldset>
        <fieldset>
            <legend>Required</legend>
            {{ forms.input('text', 'name', 'name', 'Name' ) }}
            {{ forms.input('textarea', 'address', 'address', 'Address') }}
        </fieldset>
        <fieldset>
            {{ forms.input('text', 'urlname', 'urlname', 'URL Name' ) }}
        </fieldset>
    </form><!-- .form-client -->
</div><!-- .form-wrapper -->
{% endblock content %}

{% block sidebar_left %}
<div class="menu">
    <div class="menu-label">Clients</div>
    <ul class="menu-list">
        <li><a class="nav-link link-admin-clients" title="Administer Client Roles" href="{{ request.route_path('admin.clients.roles', client=client.url_name) }}">Roles</a></li>
        <li><a class="nav-link link-admin-clients" title="Administer Client Users" href="{{ request.route_path('admin.clients.users', client=client.url_name) }}">Users</a></li>
    </ul><!-- .menu-list -->
</div><!-- .menu -->
{% endblock sidebar_left %}