{% extends "saas.app.modules.admin:templates/default.html" %}

{% import "saas.app:templates/forms.html" as forms %}

{% block title %}
Client {{ client.name }} - Roles
{% endblock title %}

{% block content %}
<notification-list></notification-list>
<div class="roles-wrapper">
    <roles-table show-add></roles-table>
</div><!-- .roles-wrapper -->
<div class="modal-wrapper">
    <modal-dialog>
        <div class="form-wrapper">
            <div class="form-header">Add Role</div>
            <div class="form-body">
                <notification-list></notification-list>
                <form class="form-role">
                    <fieldset>
                        {{ forms.input('text', 'name', 'name', 'Name' )}}
                    </fieldset>
                    <button type="button" id="save" class="btn btn-primary">Save</button>
                    <button type="button" id="cancel" class="btn">Cancel</button> 
                </form>
            </div><!-- .form-body -->
        </div><!-- .form-wrapper -->
    </modal-dialog>
</div><!-- .modal-wrapper -->
{% endblock content %}

{% block sidebar_left %}
<div class="menu">
    <div class="menu-label">Clients</div>
    <ul class="menu-list">
        <li><a class="nav-link link-admin-clients" title="Administer Client Roles" href="{{ request.route_path('admin.clients.roles', client=client.url_name) }}">Roles</a></li>
        <li><a class="nav-link link-admin-clients" title="Administer Client Users" href="{{ request.route_path('admin.clients.users', client=client.url_name) }}">Users</a></li>
    </ul><!-- .menu-list -->
</div><!-- .menu -->
{% endblock sidebar_left %}

{% block scripts %}
<script type="module" src="/static/js/components/notification.list.js"></script>
<script type="module" src="/static/js/components/roles.table.js"></script>
<script type="module" src="/static/js/components/modal.dialog.js"></script>
<script type="module">
'use strict';
import { Roles } from '/static/js/helpers/roles.js';
(function(){
    const notifier = document.querySelector('notification-list')
    const rtbl = document.querySelector('roles-table')

    const refreshRoles = function() {
        Roles.all('{{ client.id }}').then((r) => {
            if (r.status == 'success') {
                rtbl.setRoles(r.json.roles);
            } else {
                notifier.add('error', r.message);
            }
        });
    };
    refreshRoles();

    rtbl.addEventListener('onerror', function(e) {
        notifier.add('error', e);
    });

    rtbl.addEventListener('onaddrole', function(e) {
        const md = document.querySelector('modal-dialog');
        const dlg = md.show();

        const save = dlg.querySelector('button#save:not(.processed)');
        if (save != null) {
            save.classList.add('processed');
            save.addEventListener('click', function(e) {
                const name = dlg.querySelector('input#name');
                if (name.value == '') {
                    const n = dlg.querySelector('notification-list');
                    n.add('error', 'Please enter a name');
                } else {
                    Roles.add('{{ client.id }}', name.value).then((r) => {
                        if (r.status == 'success') {
                            refreshRoles();
                            md.hide();
                        } else {
                            notifier.add('error', r.message);
                        }
                    });
                }
            });
        }

        const cancel = dlg.querySelector('button#cancel:not(.processed)');
        if (cancel != null) {
            cancel.classList.add('processed');
            cancel.addEventListener('click', function(e) {
                md.hide();
            });
        }
    });
})();
</script>
{% endblock scripts %}