{% extends "saas.app.modules.admin:templates/default.html" %}

{% import "saas.app:templates/forms.html" as forms %}

{% block title %}
Client {{ client.name }} - Roles
{% endblock title %}

{% block content %}
<notification-list></notification-list>
<div class="roles-wrapper">
    <roles-table show-add></roles-table>
</div><!-- .roles-wrapper -->
<div class="permissions-wrapper hide">
    <permissions-table show-add show-remove hide-active></permissions-table>
</div>
<div class="modal-wrapper">
    <modal-dialog id="roles">
        <div class="form-wrapper">
            <div class="form-header">Add Role</div>
            <div class="form-body">
                <notification-list></notification-list>
                <form class="form-role">
                    <fieldset>
                        {{ forms.input('text', 'name', 'name', 'Name' )}}
                    </fieldset>
                    <button type="button" id="save" class="btn btn-primary">Save</button>
                    <button type="button" id="cancel" class="btn">Cancel</button>
                </form>
            </div><!-- .form-body -->
        </div><!-- .form-wrapper -->
    </modal-dialog>
    <modal-dialog id="permissions">
        <div class="form-wrapper">
            <div class="form-header">Add Permission</div>
            <div class="form-body">
                <notification-list></notification-list>
                <form class="form-permissions">
                    <fieldset>
                        <permissions-table multiselect hide-active></permissions-table>
                    </fieldset>
                    <button type="button" id="btnadd" class="btn btn-primary">Add</button>
                    <button type="button" id="btncancel" class="btn">Cancel</button>
                </form>
            </div><!-- .form-body -->
        </div><!-- .form-wrapper -->
    </modal-dialog>
</div><!-- .modal-wrapper -->
{% endblock content %}

{% block sidebar_left %}
<div class="menu">
    <div class="menu-label">Clients</div>
    <ul class="menu-list">
        <li><a class="nav-link link-admin-clients" title="Administer Client Roles" href="{{ request.route_path('admin.clients.roles', client=client.url_name) }}">Roles</a></li>
        <li><a class="nav-link link-admin-clients" title="Administer Client Users" href="{{ request.route_path('admin.clients.users', client=client.url_name) }}">Users</a></li>
    </ul><!-- .menu-list -->
</div><!-- .menu -->
{% endblock sidebar_left %}

{% block scripts %}
<script type="module" src="/static/js/components/notification.list.js"></script>
<script type="module" src="/static/js/components/roles.table.js"></script>
<script type="module" src="/static/js/components/permissions.table.js"></script>
<script type="module" src="/static/js/components/modal.dialog.js"></script>
<script type="module">
'use strict';
import { Roles } from '/static/js/helpers/roles.js';
import { Permissions } from '/static/js/helpers/permissions.js';
(function(){
    const notifier = document.querySelector('notification-list')
    const rtbl = document.querySelector('roles-table')
    const ptbl = document.querySelector('permissions-table');

    let currentRoleId = '';

    const refreshRoles = function() {
        Roles.all('{{ client.id }}').then((r) => {
            if (r.status == 'success') {
                rtbl.setRoles(r.json.roles);
                currentRoleId = '';
            } else {
                notifier.add('error', r.message);
            }
        });
    };

    const refreshPermissions = function(roleId) {
        const wrapper = document.querySelector('div.permissions-wrapper');
        wrapper.classList.remove('hide');
        Roles.getPermissions('{{ client.id }}', roleId).then((r) => {
            if (r.status == 'success') {
                ptbl.setPermissions(r.json.permissions);
            } else {
                notifier.add('error', r.message);
            }
        });
    };

    refreshRoles();

    rtbl.addEventListener('onerror', function(e) {
        notifier.add('error', e);
    });

    rtbl.addEventListener('onaddrole', function(e) {
        const md = document.querySelector('modal-dialog#roles');
        const dlg = md.show();

        const save = dlg.querySelector('button#save:not(.processed)');
        if (save != null) {
            save.classList.add('processed');
            save.addEventListener('click', function(e) {
                const name = dlg.querySelector('input#name');
                if (name.value == '') {
                    const n = dlg.querySelector('notification-list');
                    n.add('error', 'Please enter a name');
                } else {
                    Roles.add('{{ client.id }}', name.value).then((r) => {
                        if (r.status == 'success') {
                            refreshRoles();
                            md.hide();
                        } else {
                            notifier.add('error', r.message);
                        }
                    });
                }
            });
        }

        const cancel = dlg.querySelector('button#cancel:not(.processed)');
        if (cancel != null) {
            cancel.classList.add('processed');
            cancel.addEventListener('click', function(e) {
                md.hide();
            });
        }
    });

    rtbl.addEventListener('onupdateroleactive', function(e) {
        const roleId = e.detail.roleId;
        const active = e.detail.active == 'true' ? false : true;
        Roles.setActive(roleId, active).then((r) => {
            if (r.status == 'success') {
                refreshRoles();
            } else {
                notifier.add('error', r.message);
            }
        });
    });

    rtbl.addEventListener('onselectrole', function(e) {
        const roleId = e.detail.roleId;
        currentRoleId = roleId;
        refreshPermissions(roleId);
    });

    ptbl.addEventListener('onerror', function(e) {
        notifier.add('error', e);
    });

    ptbl.addEventListener('onaddpermission', function(e) {
        if (currentRoleId == '') {
            notifier.add('error', 'Please select a role', 3000);
        } else {
            const md = document.querySelector('modal-dialog#permissions');
            const dlg = md.show();
            const n = dlg.querySelector('notification-list');

            const aptbl = dlg.querySelector('permissions-table:not(.processed)');
            if (aptbl != null) {
                aptbl.classList.add('processed');
                Permissions.all().then((r) => {
                    if (r.status == 'success') {
                        aptbl.setPermissions(r.json.permissions);
                    } else {
                        n.add('error', r.message);
                    }
                });
            }

            const add = dlg.querySelector('button#btnadd:not(.processed)');
            if (add != null) {
                add.classList.add('processed');
                add.addEventListener('click', function(e) {
                    const pids = aptbl.getSelected();
                    Roles.addPermissions('{{ client.id }}', currentRoleId, pids).then((r) => {
                        if (r.status == 'success') {
                            refreshPermissions(currentRoleId);
                            md.hide();
                        } else {
                            n.add('error', r.message);
                        }
                    });
                });
            }

            const cancel = dlg.querySelector('button#btncancel:not(.processed)');
            if (cancel != null) {
                cancel.classList.add('processed');
                cancel.addEventListener('click', function(e) {
                    md.hide();
                });
            }
        }
    });

    ptbl.addEventListener('onremovepermission', function(e) {
        console.log('onremovepermission');
    });
})();
</script>
{% endblock scripts %}