{% extends "saas.app.modules.admin:templates/default.html" %}

{% import "saas.app:templates/forms.html" as forms %}

{% block title %}
Client {{ client.name }} - Users
{% endblock title %}

{% block content %}
<notification-list></notification-list>
<div class="users-wrapper">
    <users-table show-add show-remove hide-active></users-table>
</div><!-- .users-wrapper -->
<div class="roles-wrapper hide">
    <roles-table show-add show-remove hide-active></roles-table>
</div><!-- .roles-wrapper -->
<div class="modal-wrapper">
    <modal-dialog id="users">
        <div class="form-wrapper">
            <div class="form-header">Add User</div>
            <div class="form-body">
                <notification-list></notification-list>
                <form class="form-user">
                    <fieldset>
                        {{ forms.input('email', 'email', 'email', 'Email') }}
                    </fieldset>
                    <button type="button" id="save" class="btn btn-primary">Save</button>
                    <button type="button" id="cancel" class="btn">Cancel</button> 
                </form>
            </div><!-- .form-body -->
        </div><!-- .form-wrapper -->
    </modal-dialog>
    <modal-dialog id="roles">
        <div class="form-wrapper">
            <div class="form-header">Add Role</div>
            <div class="form-body">
                <notification-list></notification-list>
                <form class="form-role">
                    <fieldset>
                        <roles-table show-remove hide-active multiselect></roles-table>
                    </fieldset>
                    <button type="button" id="btnadd" class="btn btn-primary">Add</button>
                    <button type="button" id="btncancel" class="btn">Cancel</button>
                </form>
            </div><!-- .form-body -->
        </div><!-- .form-wrapper -->
    </modal-dialog>
</div>
{% endblock content %}

{% block sidebar_left %}
<div class="menu">
    <div class="menu-label">Clients</div>
    <ul class="menu-list">
        <li><a class="nav-link link-admin-clients" title="Administer Client Roles" href="{{ request.route_path('admin.clients.roles', client=client.url_name) }}">Roles</a></li>
        <li><a class="nav-link link-admin-clients" title="Administer Client Users" href="{{ request.route_path('admin.clients.users', client=client.url_name) }}">Users</a></li>
    </ul><!-- .menu-list -->
</div><!-- .menu -->
{% endblock sidebar_left %}

{% block scripts %}
<script type="module" src="/static/js/components/notification.list.js"></script>
<script type="module" src="/static/js/components/users.table.js"></script>
<script type="module" src="/static/js/components/roles.table.js"></script>
<script type="module" src="/static/js/components/modal.dialog.js"></script>
<script type="module">
'use strict';
import { Users } from '/static/js/helpers/users.js';
import { Roles } from '/static/js/helpers/roles.js';
(function(){
    const notifier = document.querySelector('notification-list')
    const utbl = document.querySelector('users-table');
    const rtbl = document.querySelector('roles-table');

    let currentUserId = '';

    const refreshUsers = function() {
        Users.all('{{ client.id }}').then((r) => {
            if (r.status == 'success') {
                utbl.setUsers(r.json.users);
            } else {
                notifier.add('error', r.message);
            }
        });
    };

    const refreshRoles = function(userId) {
        const wrapper = document.querySelector('div.roles-wrapper');
        wrapper.classList.remove('hide');

        Users.getRoles('{{ client.id }}', userId).then((r) => {
            if (r.status == 'success') {
                rtbl.setRoles(r.json.roles);
            } else {
                notifier.add('error', r.message);
            }
        });
    };

    refreshUsers();

    utbl.addEventListener('onerror', function(e) {
        notifier.add('error', e);
    });

    utbl.addEventListener('onremoveuser', function(e) {
        const userId = e.detail.userId;
        Users.removeUserFromClient('{{ client.id }}', userId).then((r) => {
            if (r.status == 'success') {
                refreshUsers();
            } else {
                notifier.add('error', r.message);
            }
        });
    });

    utbl.addEventListener('onadduser', function(e) {
        const md = document.querySelector('modal-dialog#users');
        const dlg = md.show();

        const save = dlg.querySelector('button#save:not(.processed)');
        if (save != null) {
            save.classList.add('processed');
            save.addEventListener('click', function(e) {
                const email = dlg.querySelector('input#email');
                const n = dlg.querySelector('notification-list');
                if (email.value == '') {
                    n.add('error', 'Please enter an email address');
                } else {
                    Users.addUserToClient('{{ client.id }}', email.value).then((r) => {
                        if (r.status == 'success') {
                            notifier.add('success', r.message);
                            refreshUsers();
                            md.hide();
                        } else {
                            n.add('error', r.message);
                        }
                    });
                }
            });
        }

        const cancel = dlg.querySelector('button#cancel:not(.processed)');
        if (cancel != null) {
            cancel.classList.add('processed');
            cancel.addEventListener('click', function(e) {
                md.hide();
            });
        }
    });

    utbl.addEventListener('onselectuser', function(e) {
        const userId = e.detail.userId;
        currentUserId = userId;
        refreshRoles(userId);
    });

    rtbl.addEventListener('onaddrole', function(e) {
        const md = document.querySelector('modal-dialog#roles');
        const dlg = md.show();
        const n = dlg.querySelector('notification-list');
        const artbl = dlg.querySelector('roles-table');

        Roles.all('{{ client.id }}').then((r) => {
            if (r.status == 'success') {
                artbl.setRoles(r.json.roles);
            } else {
                n.add('error', r.message);
            }
        });

        const add = dlg.querySelector('button#btnadd:not(.processed)');
        if (add != null) {
            add.classList.add('processed');
            add.addEventListener('click', function(e) {
                const roleIds = artbl.getSelected();
                Users.addRoles('{{ client.id }}', currentUserId, roleIds).then((r) => {
                    if (r.status == 'success') {
                        notifier.add('success', 'Roles added');
                        refreshRoles(currentUserId);
                        md.hide();
                    } else {
                        n.add('error', r.message);
                    }
                });
            });
        }

        const cancel = dlg.querySelector('button#btncancel:not(.processed)');
        if (cancel != null) {
            cancel.classList.add('processed');
            cancel.addEventListener('click', function(e) {
                md.hide();
            });
        }
    });

    rtbl.addEventListener('onremoverole', function(e) {
        console.log('onremoverole');
        console.log(e);
    });
})();
</script>
{% endblock scripts %}