{% extends '/templates/admin/clients/default.html' %}

{% block title -%}
Client Roles
{%- endblock %}

{% block content %}
<h1>Client Roles</h1>
<notification-list id="notifications"></notification-list>
<roles-table id="rolesTbl"></roles-table>
{$ endblock %}

{% block scripts %}
<script type="module" src="/static/js/components/notification.list.js"></script>
<script type="module" src="/static/js/components/roles.table.js"></script>
<script type="module">
'use strict';

(function(){
    const notifications = document.getElementById('notifications');
    const rolesTbl = document.getElementById('rolesTbl');
    rolesTbl.addEventListener('onerror', function(e) {
        notifications.add('error', e.detail);
    });
})();
</script>
{% endblock scripts %}