div[role=tabs].vertical > ul[role=tablist] {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

[role=tabs] > ul[role=tablist] {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

[role=tabs] [role=tabpanel]:not(.active) {
    display: none;
}