<!doctype html>
<html>
    <head>
        {% block meta -%}
        {%- endblock %}
        {% block authorization -%}
        {%- endblock %}
        <title>SAAS - {% block title %}Welcome{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        {% block baselinks -%}
        {%- endblock baselinks %}
        {% block headscripts -%}
        {%- endblock headscripts %}
    </head>
    <body>
        {% block page_content %}
        {% endblock page_content %}
        {% block basebodyscripts -%}
        {%- endblock basebodyscripts %}
    </body>
</html>