{% extends '/templates/base.html' %}

{% block baselinks -%}
<!-- links -->
<link rel="stylesheet" href="/static/css/layout.css">
{%- endblock baselinks %}

{% block page_content %}
<div id="pageContent">
    <div class="column-wrapper">
        <div class="row row-0 row-start row-wrapper">
            <div class="col col-0 col-start">
                <a title="SAAS" class="nav-link" href="#">saas_app_name</a>
            </div>
            <div class="col col-1">
                <search-bar id="mainSearch"></search-bar>
            </div>
            <div class="col col-2 col-end">3</div>
        </div><!-- .row-wrapper -->
        <div class="row row-1">
            {% block content %}
            {% endblock %}
        </div><!-- .row-wrapper -->
        <div class="row row-2 row-end">
            &copy; saas_app_name
        </div>
    </div><!-- .column-wrapper -->
</div><!-- #pageContent -->
{% endblock page_content %}

{% block basebodyscripts %}
<!-- scripts -->
<script type="module" src="/static/js/search.bar.js"></script>
<script type="module" src="/static/js/client.selector.js"></script>
{% block scripts %}
{% endblock scripts %}

{% endblock basebodyscripts %}