{% extends '/templates/base.html' %}

{% block baselinks -%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
<link rel="stylesheet" href="/static/css/layout.css">
<link rel="stylesheet" href="/static/css/colors.css">
{% block links -%}
{%- endblock links -%}
{%- endblock baselinks %}

{% block page_content %}
<div id="pageContent">
    <div class="column-wrapper">
        <div class="row row-0 row-start row-wrapper">
            <div class="col col-0 col-start">
                <nav class="navbar is-transparent">
                    <div class="navbar-brand">
                        <a title="Home" class="navbar-item" href="#">
                            <img src="/static/img/favicon.ico" alt="Software As A Service">
                        </a>
                    </div><!-- .navbar-brand -->
                    <div class="navbar-menu">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">SAAS</a>
                            <div class="navbar-dropdown">
                                <a title="Accounting" class="nav-link navbar-item" href="/accounting">Accounting</a>
                                <a title="Inventory" class="nav-link navbar-item" href="/inventory">Inventory</a>
                                <hr class="navbar-divider">
                                <a title="Administer Clients" class="nav-link navbar-item" href="/admin/clients">Administer Clients</a>
                            </ul><!-- .navbar-dropdown -->
                        </div><!-- .navbar-item -->
                    </div><!-- .navbar-menu -->
                </nav><!-- .navbar -->
            </div>
            <div class="col col-1">
                <search-bar></search-bar>
            </div><!-- .col-1 -->
            <div class="col col-2 col-end">
                <nav class="navbar is-transparent" role="navigation" aria-label="navigation">
                    <div id="topRightMenu" class="navbar-menu">
                        <div class="navbar-end">
                            {% if user is defined %}
                                <div class="navbar-item">
                                    {% if request_uri is defined %}
                                        <a id="selectClient" class="nav-link client-select-link" title="Select Client" href="/client?destination={{ request_uri }}">{{ user.currentClient.name }}</a>
                                    {% else %}
                                        <a id="selectClient" class="nav-link client-select-link" title="Select Client" href="/client">{{ user.currentClient.name }}</a>
                                    {% endif %}
                                </div><!-- .navbar-item -->
                                <div class="navbar-item has-dropdown is-hoverable">
                                    <a class="navbar-link">{{ user.email }}</a>
                                    <div class="navbar-dropdown">
                                        <a title="Profile" class="navbar-item" href="/user/profile">Profile</a>
                                        <hr class="navbar-divider" />
                                        <a title="Sign Out" class="navbar-item" href="/security/signin">Sign Out</a>
                                    </div><!-- .navbar-dropdown -->
                                </div><!-- .navbar-item -->
                            {% else %}
                                <div class="navbar-item has-dropdown is-hoverable">
                                    <a class="navbar-link">Menu</a>
                                    <div class="navbar-dropdown">
                                        <a title="Sign In" class="navbar-item" href="/security/signin">Sign In</a>
                                    </div><!-- .navbar-dropdown -->
                                </div><!-- .navbar-item -->
                            {% endif %}
                        </div><!-- .navbar-start -->
                    </div><!-- #topRightMenu -->
                </nav>
            </div>
        </div>
        <div class="row row-1 row-wrapper">
            <div class="col col-0 col-start">
            {% block content_left %}
            {% endblock content_left %}
            </div>
            <div class="col col-1">
            {% block content %}
            {% endblock content %}
        </div>
        <div class="col col-2 col-end"></div>
            {% block content_right %}
            {% endblock content_right %}
        </div>
        <div class="row row-2 row-end">3</div>
    </div><!-- .column-wrapper -->
</div><!-- #pageContent -->
{% endblock %}

{% block basebodyscripts %}
<!-- scripts -->
<script type="module" src="/static/js/search.bar.js"></script>
{% if user is defined %}
<script type="module">
(function(){
    window.variables = {
        currentClient: {
            id: '{{ user.currentClient.id }}',
            name: '{{ user.currentClient.name }}'
        }
    };
})();
{% endif %}
</script>
{% block scripts %}
{% endblock scripts %}

{% endblock basebodyscripts %}