{% extends '/templates/base.html' %}

{% block links -%}
<link rel="stylesheet" href="/static/css/layout.css">
{%- endblock %}

{% block page_content %}
<div id="pageContent">
    <div class="column-wrapper">
        <div class="row row-0 row-start row-wrapper">
            <div class="col col-0 col-start">
                {% block block1x1 %}
                {% endblock %}
            </div>
            <div class="col col-1">2</div>
            <div class="col col-2 col-end">
                {% if user is defined %}
                    <a id="selectClient" class="nav-link client-select-link" title="Select Client" href="/client">{{ user.currentClient.name }}</a>
                {% endif %}
                <client-selector id="clientSelector"></client-selector>
            </div>
        </div>
        <div class="row row-1 row-wrapper">
            <div class="col col-0 col-start"></div>
            <div class="col col-1">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col col-2 col-end"></div>
        </div>
        <div class="row row-2 row-end">3</div>
    </div><!-- .column-wrapper -->
</div><!-- #pageContent -->
{% endblock %}

{% block basebodyscripts %}
<!-- scripts -->
<script type="module" src="/static/js/search.bar.js"></script>
<script type="module" src="/static/js/client.selector.js"></script>
{% block scripts %}
{% endblock scripts %}

{% endblock basebodyscripts %}