{% extends "saas.app.modules.inventory:templates/default.html" %}

{% import "saas.app:templates/forms.html" as forms %}

{% block links %}
{{ super() }}
<link rel="stylesheet" href="/static/css/inventory/items.css">
{% endblock links %}

{% block title %}
Inventory Item
{% endblock title %}

{% block content %}
<notification-list></notification-list>
<div class="item-wrapper">
    <nav class="navbar is-transparent" role="toolbar" aria-label="Inventory Item Actions">
        <div class="navbar-item">
            <a class="link-new" title="New Item" href="{{ request.route_path('inventory.items.add') }}">
                <span class="material-icons">insert_drive_file</span>
            </a>
        </div><!-- .navbar-item -->
        <div class="navbar-item">
            <a class="link-save" title="Save" href="#">
                <span class="material-icons">save</span>
            </a>
        </div><!-- .navbar-item -->
    </nav>
    <div class="tabs">
        <ul>
            <li class="list-item-general is-active"><a class="link-nav link-tabs link-general" href="#general">General</a></li>
            <li class="list-item-substitutes"><a class="link-nav link-tabs link-substitutes" href="#substitutes">Substitutes</a></li>
            <li class="list-item-vendors"><a class="link-nav link-tabs link-vendors" href="#vendors">Vendors</a></li>
            <li class="list-item-monitoring"><a class="link-nav link-tabs link-monitoring" href="#monitoring">Monitoring</a></li>
        </ul>
    </div><!-- .tabs -->
    <form class="form-item">
        <fieldset id="general" class="panel is-active">
            <div class="grid column-4">
                {{ forms.gridinput('text', 'name', 'name', 'Name') }}
                {{ forms.gridinput('textarea', 'description', 'description', 'Description') }}
                {{ forms.gridinput('text', 'sku', 'sku', 'SKU') }}
                {{ forms.gridinput('text', 'upc', 'upc', 'UPC/EAN') }}
                {{ forms.gridinput('text', 'make', 'make', 'Make') }}
                {{ forms.gridinput('text', 'model', 'model', 'Model') }}
                {{ forms.gridinput('text', 'brand', 'brand', 'Brand') }}
                {{ forms.gridinput('text', 'version', 'version', 'Version') }}
                {{ forms.gridinput('number', 'length', 'length', 'Length') }}
                {{ forms.gridinput('number', 'width', 'width', 'Width') }}
                {{ forms.gridinput('number', 'height', 'height', 'Height') }}
                {{ forms.gridinput('number', 'weight', 'weight', 'Weight') }}
            </div><!-- .grid -->
        </fieldset>
        <fieldset id="substitutes">
            <legend>Substitutes</legend>
        </fieldset>
        <fieldset id="vendors">
            <legend>Vendors</legend>
        </fieldset>
        <fieldset id="monitoring">
            <legend>Monitoring</legend>
        </fieldset>
    </form>
</div><!-- .table-wrapper -->
{% endblock content %}

{% block scripts %}
<script type="module" src="/static/js/components/notification.list.js"></script>
<script type="module" src="/static/js/helpers/inventory.js"></script>
<script type="module">
'use script';
import { Inventory } from '/static/js/helpers/inventory.js';
(function(){
    const clientId = '{{ client_id }}';
    const notifier = document.querySelector('notification-list');
    document.querySelectorAll('.item-wrapper .tabs .link-tabs').forEach((l) => {
        l.addEventListener('click', function(e) {
            const href = e.target.getAttribute('href');
            const litemclass = href.substring(1, href.length);
            console.log(litemclass);

            document.querySelector('.tabs li.is-active').classList.remove('is-active');
            document.querySelector('.tabs li.list-item-' + litemclass).classList.add('is-active');
            document.querySelector('form.form-item fieldset.is-active').classList.remove('is-active');
            document.querySelector('form.form-item fieldset' + href).classList.add('is-active');
        });
    });

    document.querySelector('div.item-wrapper a.link-save').addEventListener('click', function(e) {
        const tname = document.querySelector('div.item-wrapper form.form-item input#name');
        const tdesc = document.querySelector('div.item-wrapper form.form-item textarea#description');
        const tsku = document.querySelector('div.item-wrapper form.form-item input#sku');
        const tupc = document.querySelector('div.item-wrapper form.form-item input#upc');
        const tmake = document.querySelector('div.item-wrapper form.form-item input#make');
        const tbrand = document.querySelector('div.item-wrapper form.form-item input#brand');
        const tmodel = document.querySelector('div.item-wrapper form.form-item input#model');
        const tversion = document.querySelector('div.item-wrapper form.form-item input#version');
        const tlength = document.querySelector('div.item-wrapper form.form-item input#length');
        const twidth = document.querySelector('div.item-wrapper form.form-item input#width');
        const theight = document.querySelector('div.item-wrapper form.form-item input#height');
        const tweight = document.querySelector('div.item-wrapper form.form-item input#weight');
        Inventory.addItem(clientId, {
            name: tname.value,
            description: tdesc.value,
            sku: tsku.value,
            upc: tupc.value,
            make: tmake.value,
            model: tmodel.value,
            brand: tbrand.value,
            version: tversion.value,
            length: parseFloat(tlength.value),
            width: parseFloat(twidth.value),
            height: parseFloat(theight.value),
            weight: parseFloat(tweight.value)
        }).then((r) => {
            notifier.add(r.status, r.message);
        });
    });
})();
</script>
{% endblock scripts %}