<div class="module-clients-wrapper">
    <h1>Client</h1>
    <div class="module-clients menu">
        <ul class="menu-list">
            <li><a title="Oragnizations" data-action="client.organizations">Organizations</a></li>
        </ul><!-- .menu-list -->
    </div><!-- .module-clients -->
</div><!-- .module-clients-wrapper -->
<script type="module">
'use script';
(function(){
    const tab = document.querySelector('tab-container');

    window.actions = window.actions ? window.actions : {};
    window.actions['client.organizations'] = function(){
        console.log('client.organizations');
    };
})();
</script>